@use '@/styles/colors' as colors;
@use '@/styles/image-sizes' as sizes;

$carousel-button-size-internal: 28px;
// accounting for the border
$carousel-button-size-external: 32px;
$carousel-button-offset: 8px;
$carousel-button-left-offset: $carousel-button-offset;
$carousel-button-right-offset: calc($carousel-button-size-external * 2) + $carousel-button-offset;

.image-carousel-container {
  &--preview {
    height: sizes.$preview-height;
    width: calc(sizes.$preview-width * 3);
  }

  &--fullsize {
    height: sizes.$fullsize-height;
    width: sizes.$fullsize-width;
  }

  .image--visible {
    display: block;
    cursor: pointer;
    img {
      opacity: 1;
      filter: none;
      transform: scale(1);
      transition:
        opacity 300ms ease,
        filter 300ms ease,
        transform 300ms ease;
      will-change: opacity, filter, transform;
    }
  }
  .image--part-visible {
    display: block;
    opacity: 0.6;
    filter: grayscale(20%);
    img {
      opacity: 0.6;
      filter: grayscale(20%);
      transform: scale(0.98);
      transition:
        opacity 300ms ease,
        filter 300ms ease,
        transform 300ms ease;
      will-change: opacity, filter, transform;
    }
  }
  .image--hidden {
    display: none;
  }
  .image-view-container {
    transform: translateX(-$carousel-button-size-external);
  }

  &:not(:has(.image--visible)) {
    .image-view-container:first-child {
      display: block;
      opacity: 1;
      filter: unset;
    }
  }

  &::before,
  &::after {
    z-index: 1;
    opacity: 60%;
    border: 2px solid colors.$light-grey;
    font-weight: 1000;
    color: colors.$light-grey;
    border-radius: $carousel-button-size-internal;
    width: $carousel-button-size-internal;
    height: $carousel-button-size-internal;
    min-width: $carousel-button-size-internal;

    text-align: center;
    margin: auto 0;
    cursor: pointer;
    visibility: hidden;
  }
  &::before {
    content: '<';
    transform: translateX($carousel-button-left-offset);
  }
  &::after {
    content: '>';
    transform: translateX(-$carousel-button-right-offset);
  }
  &:hover {
    &::before,
    &::after {
      visibility: visible;
    }
  }
}
