@use 'colors' as *;

button.button--chunky {
  max-width: fit-content;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $action-add-color;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    color: darken_color($action-add-color);
    border-color: darken_color($action-add-color);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
