@use 'sass:color';

$lighten-interval: 10%;
$darken-interval: -10%;

$light-grey: #eaf0f3;
$dark-grey: #323435;

$bg-blue-grey: #9bb3d4;
$bg-light-grey: #f3f5f71b;

$text-color-dark: #212121;
$text-color-light: #f4f4f4;

$primary-color: #8abbec;
$secondary-color: #eec68a;
$background-color: #eae7e7;

$border-color: #e0e0e0;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffeb3b;
$info-color: #2196f3;

$background-color-error: #ffe6e6;

$action-add-color: #4caf4f90;
$action-delete-color: #f4433695;
$action-edit-color: #2195f374;

@function lighten_color($color) {
  @return color.change($color, $lightness: $lighten-interval);
}

@function darken_color($color) {
  @return color.change($color, $lightness: $darken-interval);
}
