// compile variables for global use
@forward 'colors';
@forward 'text';
@forward 'units';
@forward 'helpers';

// add layout styles for base app structure
@use 'layout';
@use 'buttons';

:root {
  padding: 0px;
  margin: 0px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  #root {
    width: 100%;
    height: 100%;
  }
}
